---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  description,
  heroImage,
  heroImageHeight,
  heroImageWidth,
  pubDate,
  pubDateAuthor,
  title,
  upDate,
  upDateAuthor,
  updatedDate,
} = Astro.props;
---

<html lang="en">
  <head>
    {
      heroImage && (
        <link
          rel="preload"
          fetchpriority="high"
          as="image"
          href={heroImage.src}
          type={`image/${heroImage.format}`}
        />
      )
    }
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <Image
              width={heroImageWidth || 1020}
              height={heroImageHeight || 510}
              src={heroImage}
              alt=""
              fetchpriority="high"
              loading="eager"
            />
          )
        }
        <div class="date-created">
          <FormattedDate date={pubDate} /> -
          <span class="pubDateAuthor">{pubDateAuthor}</span>
        </div>
        {
          updatedDate && (
            <div class="date-updated">
              Last updated on <FormattedDate date={updatedDate} /> by
              <span class="upDateAuthor">{upDateAuthor}</span>
            </div>
          )
        }

        <h1>{title}</h1>

        <hr />

        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
